.footer__subscribe { 
  margin: 0px 0px 0px -4px;
  padding: 0;
  border: none;
  width: 150px;
  height: 40px;
  background: $primary-bg-color;
  color: $primary-white-color;
  font-family: 'Montserrat', sans-serif;
  font-size: $main-text-size;
  line-height: $main-text-height;
  font-weight: $main-text-weight-bold;
  text-transform: uppercase;
  cursor: pointer;
}