/* * { 
  outline: 1px solid rgba(248, 39, 11, 0.788);
} */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper { 
  min-width: 1600px;
  margin: 0 auto;
}
.clearfix::after { 
  content: '' ;
  display: table;
  clear: both;
}
.link { 
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}
.link:hover { 
color:  #55a190;
}
.menu-item { 
  display: inline-block;
  margin-right: 25px;
}
.menu-item:last-child { 
  margin: 0;
}
.menu { 
  width: 475px;
}
.menu { 
  float: right;
}
.container { 
  width: 100%;
  padding: 0px 245px;
}
.container:first-child { 
  padding-top: 40px;
  margin-bottom: 40px;
}
.slider { 
  background-image: url(../img/slide4.jpg);
  width: 100%;
  height: 33.3%;
  min-height: 33.3%;
  min-width: 100%;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0%;
}
.site-logo { 
  float: left;
}
.slider { 
  position: relative;
  height: 600px;
} 
.slider-ctrl { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: #55a190;
  opacity: 0.651;
}
.prev { 
  left: 245px;
}
.next { 
  right: 245px;
}
.slider-ctrl:hover { 
  background: #55a190;
  opacity: 1;
}
.tours-title { 
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 56px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
small { 
  width: 460px;
font-family: 'Roboto', sans-serif;
font-weight: 300;
color: #ffffff;
text-transform: uppercase;
font-size: 24px;
line-height: 2.3; 
}
.section-title { 
  font-family: 'Roboto', sans-serif;
  color: #515151;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 85px;
}
.section-title::after { 
  width: 160px;
  height: 6px;
  content: '';
  display: block;
  background-color: #1abc9c;
  margin: 30px auto 0px;
}
.new-collection { 
  padding: 100px 0px;
  background-color: #e9f0fd;
}
.collection { 
  text-align: center;
  list-style: none;
  width: 1110px;
  margin: 0 auto;
}
.list-item { 
  margin-right: 30px;
  float: left;
}
.list-item:last-child { 
  margin: 0;
}
.collection-item { 
  height: 322px;
}
.list-item { 
  position: relative;
}
.item { 
  float: left;
  background: #323232;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2.2;
  text-transform: uppercase;
  font-weight: 700;
  width: 200px;
  height: 40px;
  text-align: center;
}
.currency { 
  float: left;
  background: #8c8c8c;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2.2;
  text-transform: uppercase;
  font-weight: 700;
  height: 40px;
  width: 25px;
  text-align: right;
}
.price { 
  float: left;
  background: #8c8c8c;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 2.2;
  text-transform: uppercase;
  font-weight: 700;
  height: 40px;
  width: 30px;
}
.icons { 
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
list-style: none;
padding: 0;
margin: 0;
text-align: center;
width: 166px;
}
.list-icons { 
  float: left;
  margin-right: 8px;
  height: 50px;
}
.list-icons:last-child { 
  margin: 0;
}
.icons a { 
  display: inline-block;
  width: 50px;
  height: 50px;
}
.list-item:hover .hover { 
  opacity: 1;
}
.list-item:hover .item {
  background: #1abc9c; 
}
.list-item:hover .price { 
  background: #7fd9c7; 
}
.list-item:hover .currency { 
  background: #7fd9c7;  
}
.icon1 { 
  background-image: url(../img/BUTTON.png);
}
.icon2 { 
  background-image: url(../img/.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon3 { 
background-image: url(../img/BUTTON\ copy\ 2.png);
}
.cart { 
  position: absolute;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  border: none;
  width: 166px;
  height: 50px;
  background-image: url(../img/BUTTON\ copy\ 3.png);
}
.icon-hover { 
  position: absolute;
  top: 90px;
  left: 35px;
  width: 50px;
  height: 50px;
  background: rgba(26, 188, 156, 0.7);
  background-image: url(../img/BUTTON.png);
  opacity: 0;
}
.hover { 
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 235px;
  height: 302px;
  background: rgba(115, 115, 115, 0.7);
  opacity: 0;
}
.list-icons:hover .icon1 { 
  background: #1abc9c;
  background-image: url(../img/BUTTON.png);  
}
.list-icons:hover .icon2 { 
  background: #1abc9c;
  background-image: url(../img/.png);
  background-repeat: no-repeat;
  background-position: center;  
}
.list-icons:hover .icon3 { 
  background: #1abc9c;
  background-image: url(../img/BUTTON\ copy\ 2.png);  
}
footer { position: relative;
  background: #323232;
  height: 90px;
  text-align: center;
  vertical-align: middle;
}
.footer-link { 
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #f0f0f0;
  text-decoration: none; 
  text-transform: inherit;
}
span { position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #f0f0f0;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
