/* * { 
  outline: 1px solid rgba(248, 39, 11, 0.788);
} */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper { 
  width: 1600px;
  /* height: 100% vh; */
  margin: 0 auto;
}
.clearfix::after { 
  content: '' ;
  display: table;
  clear: both;
}
.link { 
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #0f0101;
  text-transform: uppercase;
  text-decoration: none;
}
.link:hover { 
color:  #55a190;
}
.menu-item { 
  display: inline-block;
  margin-right: 25px;
}
.menu-item:last-child { 
  margin: 0;
}
.menu { 
  width: 475px;
}
.menu { 
  float: right;
}
.container { 
  padding: 0px 245px;
}
.container:first-child { 
  padding-top: 40px;
  margin-bottom: 40px;
}
.container:nth-child(2) { 
  padding: 0;
}
.site-logo { 
  float: left;
}
.slider { 
  position: relative;
}
.slider-ctrl { 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  font-size: 30px;
  color: #ffffff;
  padding: 0;
  border: none;
  background: #000;
  opacity: 0.5;
}
.prev { 
  left: 245px;
}
.next { 
  right: 245px;
}
.slider-ctrl:hover { 
  background: #55a190;
  opacity: 1;
}

.tours-title { 
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 60px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.tours { 
font-family: 'Roboto', sans-serif;
font-weight: 300;
color: #ffffff;
text-transform: uppercase;
position: absolute;
top: 300px;
left: 430px;
font-size: 20px; 
}
.list-item { 
  display: inline-block;
}
.item { 
  float: left;
}
.currency { 
  float: left;
}
.price { 
  float: left;
}
footer { 
  background: #323232;
  height: 90px;
}
