.page-nav__link { 
  @extend %link;
  text-transform: uppercase;
  color: $primary-white-color;
  padding-bottom: 10px;
  text-align: center;
  display: block;

  &::after { 
    width: 0;
    height: 3px;
    content: '';
    display: block;
    background-color: $secondary-white-color;
    margin: 12px 0px 0px 0px;
    left: 50%;
    transition: width .2s, left .2s;
    bottom: 0;
  }

  &:hover::after { 
    width: 100%;
    left: 0;
  }
  
  &:hover { 
    color: $secondary-white-color;
  }
  
  &:hover svg { 
    fill: $secondary-white-color;
  }

}
