.service__icon::before { 
  content: '';
  display: inline-block;
  width: 32px;
  height: 31px;
  vertical-align: top;
}

.service__icon--alarm::before { 
  background-image: url(../../../build/images/icons/sprite.svg#ALARM);  
}

.service__icon--line-graph::before { 
  background-image: url(/src/images/icons/sprite.svg#ALARM);
}

.service__icon--computer::before { 
  background-image: url(../images/sprite.svg#COMPUTER-_-OK);  
}

.service__icon--book::before { 
  background-image: url(../images/sprite.svg#BOOK-2);
}

.service__icon--home::before { 
  background-image: url(../images/sprite.svg#HOME);
}

.service__icon--image1::before { 
  background-image: url(../images/sprite.svg#IMAGE);
}