$main-font-stack: 'Montserrat', 'Roboto', sans-serif;

$primary-white-color: #fff;
$secondary-white-color: #fce38a;
$primary-bg-color: #95e1d3;
$primary-dark-color: #000;
$secondary-dark-color: #999;
$primary-hover-color: #f38181;

$main-text-size: 14px;
$main-text-height: 1.2;
$main-text-weight-light: 300;
$main-text-weight-regular: 400;
$main-text-weight-bold: 700;
