* { 
  box-sizing: border-box;
}
.wrapper { 
  min-width: 1400px;
}
/* header */
.page-nav { 
  width: 940px;
  margin: 0 auto;
  padding-top: 50px;
}
.menu { 
  display: flex;
  justify-content: space-between;
}
.menu-list { 
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 480px;
  padding: 0;
  margin: 0;
}
.link-logo { 
  display: block;
}
.menu-list a { 
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  display: block;
  font-size: 14px;
  line-height: 2.9;
  font-family: 'Montserat';
  font-weight: 400;
}
.menu-list-link:hover { 
  color: #fed136;
}
/* section services */
.services { 
  margin-bottom: 125px; 
}
.title-services { 
  margin: 0 auto 5px;
  text-align: center;
  font-family: 'Montserat';
  text-transform: uppercase;
  color: #222222;
  font-size: 40px;
  line-height: 1.9;
  font-weight: 700;
  padding-top: 110px;
}
.sub-title-services { 
  margin: 0 0 80px;
  text-align: center;
  color: #777777;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
}
.services-list { 
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 940px;
}
.services-title-item::before { 
  content: '';
  display: block;
  margin: 0 auto 30px;
 --radius: 72px;
 width: var(--radius);
 height: var(--radius);
 border-radius: 50%;
 border: 4px solid #fed136;
 background-image: url(../img/Icon-Basket.png);
 background-repeat: no-repeat;
 background-position: center;
}
.services-title-item.laptop::before { 
  content: '';
  display: block;
  margin: 0 auto 30px;
 --radius: 72px;
 width: var(--radius);
 height: var(--radius);
 border-radius: 50%;
 border: 4px solid #fed136;
 background-image: url(../img/Icon-Laptop.png);
 background-repeat: no-repeat;
 background-position: center;
}
.services-title-item.locked::before { 
  content: '';
  display: block;
  margin: 0 auto 30px;
 --radius: 72px;
 width: var(--radius);
 height: var(--radius);
 border-radius: 50%;
 border: 4px solid #fed136;
 background-image: url(../img/Icon-Locked.png);
 background-repeat: no-repeat;
 background-position: center;
}
.services-title-item {
font-size: 18px;
line-height: 1.2;
margin: 0px 0px 18px;
text-align: center;
color: #222222;
text-transform: capitalize;
font-family: 'Montserat';
font-weight: 700;
}
.services-description { 
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  color: #777777;
  font-family: 'Noticia Text';
  font-weight: 400;
}
/* section contacts */
.title-contacts { 
  margin: 0px 0px 20px;
  padding-top: 105px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  line-height: 1.2;
  font-family: 'Montserat';
font-weight: 700;
}
.sub-title-contacts { 
  margin: 0px 0px 75px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: #777777;
  font-family: 'Noticia Text';
  font-weight: 400;
  font-style: italic;
}
input { 
  width: 455px;
  height: 50px;
  margin-bottom: 30px;
  padding: 0;
  border: none;
}
input::placeholder { 
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  color: #777777;
  font-family: 'Montserat';
  font-weight: 700; 
}
.textarea { 
  width: 455px;
  height: 210px;
  display: inline-block;
  padding: 0;
  border: none;
}
.textarea::placeholder { 
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  color: #777777;
  font-family: 'Montserat';
  font-weight: 700;
}
.form-list { 
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 305px;
  position: relative;
  align-content: space-between;
}
.form-list-item:last-child {  
  position: absolute;
  top: 245px;
  left: 50%;
  transform: translateX(-50%);
}
.form { 
  width: 940px;
  margin: 0 auto;
}
.form input[type='text']:valid { 
  outline-color: green;
}
.form input[type='text']:invalid { 
  outline-color: red;
}
.form input[type='email']:valid { 
  outline-color: green;
}
.form input[type='email']:invalid { 
  outline-color: red;
}
.form textarea:valid { 
  outline-color: green;
}
.form textarea:invalid { 
  outline-color: red;
}
.button { 
  width: 235px;
  height: 70px;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Montserat';
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: #fed136;
  cursor: pointer;
}
.contacts { 
  background: #222222;
  background-image: url(../img/Map\ Image.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-bottom: 115px;
}