.team__title { 
  margin-top: 0;
}

.team__title--italic { 
  @extend %title--italic;
}

.team__title--regular { 
  @extend %title--regular;
  margin-bottom: 42px;  
}

.team__title--regular::after { 
  width: 60px;
  height: 3px;
  content: '';
  display: block;
  background-color: $primary-hover-color;
  margin: 45px auto 0px ;
}