.team__occupation { 
  text-align: center;
  margin: 0 0 83px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 1.6;
  font-weight: $main-text-weight-light;
  color: $secondary-dark-color;
}