p { width: 420px;
}
.post {
  font-size: 14px;
  line-height: 24px;
}

.post-list li { display: inline-block;
  list-style: none;
  margin-right: 60px;
}
.post-item {
  font-size: 30px;
  line-height: 36px;
}
.navigation a { 
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 24px;
}
.navigation { display: inline-block;
  font-size: 14px;
}