body {
  font-family: 'Playfair Display','Ubuntu', serif;
font-size: 14px;
line-height: 1.2;
color: #626262;
background-image: linear-gradient (blue, yellow);
}
.wrapper { 
  width: 905px;
  margin: auto;
}

  p { width: 420px;
  }
#link { 
  color: #03a9f4;
}
.menu a { 
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Playfair Display', serif;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.menu { 
  font-size: 14px;
  line-height: 1.7;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
}
.menu li { 
  display: inline-block;
  
}
nav { 
  margin-top: 75px;
}
/* .menu-link:nth-last-child(1) { 
  margin-left: 100px;
}
.menu-link:nth-last-child(2) { 
  margin-left: 120px;
}
.menu-link:nth-last-child(3) { 
  margin-left: 100px;
}
.menu-link:nth-last-child(4) { 
  margin-left: 165px;
} */
a:hover { 
  color: aqua;
}

.post-list li:nth-child(2n) { 
  margin-left: 60px;
}
.post-list { 
  padding: 0;
}
.post {
  font-size: 14px;
  line-height: 1.7;
  font-family: 'Playfair Display', serif;
  color: #626262;
}
.post-list-item { 
  padding-top: 100px;
  display: inline-block;
  list-style: none;
  vertical-align: top;
}
.post-item {
  font-size: 30px;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-weight: 400;
}
.image-item { 
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
}
button { 
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 1.2;
  color: #626262;
  height: 60px;
  width: 165px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid black;
  background: white;
}
.button { 
margin: 60px auto;
text-align: center;
height: 60px;
width: 165px;
}
