p { width: 420px;
}
header { 
  text-align: center;
}
.post {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Playfair Display', serif;
  color: #626262;
}

.post-list li { display: inline-block;
  list-style: none;
  padding-right: 60px;
}
.post-item {
  font-size: 30px;
  line-height: 36px;
  font-family: 'Playfair Display', serif;
  color: #626262;
}
.navigation a { 
  font-size: 14px;
  line-height: 24px;
  font-family: 'Playfair Display', serif;
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
 
  
}
.navigation { 
  display: inline-block;
}
 
.image-item { 
  font-family: 'Ubuntu', sans-serif;
  color: #b4ad9e;
  font-size: 14px;
  line-height: 1.2;
}
button { 
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 1.2;
  color: #626262;
  height: 60px;
  width: 165px;
  margin: 0 auto;
  padding: 0px;
  border: 1px solid black;
  background: white;
}
.button { 
margin: 60px 530px 70px 510px;
text-align: center;
height: 60px;
width: 165px;

}
