.section-banner__subtitle { 
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  line-height: $main-text-height;
  font-weight: $main-text-weight-bold;
  color: $primary-white-color;
  text-transform: uppercase;
  margin: 0 0 110px; 
}