.section-banner__title { 
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  line-height: $main-text-height;
  color: $primary-white-color;
  text-transform: capitalize;
  font-weight: $main-text-weight-regular;
  margin: 0 0 40px;
  padding-top: 170px;
}